@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    color-scheme: light dark;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
